[Desktop Entry]
Encoding=UTF-8
Categories=Application;Development;WeChat
Comment[zh_CN]=微信小程序开发工具
Comment=The development tools for wechat web develop
Name[zh_CN]=微信小程序开发工具
Name=Wechat Web DevTools
GenericName[zh_CN]=微信小程序开发工具
GenericName=Wechat Web DevTools
Exec=/opt/tencent/wechat_web_devtools/nw
Icon=/opt/tencent/wechat_web_devtools/package.nw/app/images/logo2.png
Version=0.12.130400
MimeType=
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-Ubuntu-Gettext-Domain=
